.Bookmarks
    padding-left: 10px
    padding-top: 15px
    
    ul.Tags
        list-style-type: none
        padding-left: 0px
        li 
            display: inline-block
            padding: 5px 10px
            width: 100px
            margin-right: 10px
            background: #1f68c1
            border-radius: 5px
            color: white
            font-size: 13px
            text-transform: uppercase
            font-weight: 600
            position:relative
            .remove-icon
                width: 15px
                height: 15px
                float:right
                line-height: 1;
                &:after
                    content: "\d7"
                    font-size: 20px
                    width: 100%
                    height: auto